.image-container {
    text-align: right; /* Aligns contents to the right */
    margin-bottom: 1rem; /* Adds space between the image and text */
}

.img1 {
    margin-bottom: 1rem; /* Adds space between the image and text */
}

.this-is-us {
    text-align: right; /* Aligns the text to the right */
}

.first-container {
    background-color: var(--blue-2);
}


section h1 {
    font-family: 'Dela Gothic One', cursive;
    text-align: unset;
}

section p.description {
    font-size: 1.25rem;
}

.second-container {
    text-align: right; /* Aligns contents to the right */
    margin-bottom: 1rem; /* Adds space between the heading and text */
    background-color: var(--blue-1);
}