#accountPanel {
    background-color: #ddd;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
}

#accountPanel #options{
    text-align: center;
}
#accountPanel #options a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
#accountPanel #options a:hover{
    font-weight: bold;
}

#accountPanel #view {
    font-size: 1rem;
    text-align: center;
}