/*
#accountPanel {
    background-color: #ddd;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    justify-content: center;
    align-items: center;
}
#accountPanel #options{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}
#accountPanel #options a{
    font-size: 1.5rem;
    text-decoration: none;

    color: black;
    white-space: nowrap;
    width: 100%;

    margin-bottom: 1rem;
}
#accountPanel #options a.button {
    color: white;
}
#accountPanel #options a:hover{
    font-weight: bold;
}

#accountPanel #view {
    font-size: 1rem;
    text-align: center;
}
#view a {
    text-decoration: none;
    color: black;
}
#view a:hover {
    font-weight: bold;
}

input.button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    width: 25%;
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
*/
/* new */
.main {
    margin-left: 20%;
    background: #0F1027;
    text-align: center;
    padding-top: 2.5%;
    color: #FFFFFF;
}
.main h1 {
    font-family: Dela Gothic One;
    font-size: 4rem;
    font-weight: bold;
}
.main p {
    font-family: Zen Kaku Gothic New;
    font-size: 2rem;
}
.sidenav {
    height: 80%;
    width: 20%;
    position: fixed;
    top: auto;
    left: 0;
    background-color: #1C1A3A;
    overflow-x:hidden;
    padding-top: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.sidenav a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    font-family: Zen Kaku Gothic New;
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}
.sidenav a:hover {
    font-weight: bold;
}
/* This may break things with the footer on the page IDK yet */
footer {
    position: absolute;
    z-index: 1;
}
.grid {
    background: #0F1027;
    display: flex;
    justify-content:center;
    align-items:center;
}
table {
    margin-left: 2.5%;
    border-collapse: collapse;
    width: 95%;
    background-color: #242E52;
}
tr:nth-child(odd) {
    background-color: #1C1A3A;
}
.ordersNav {
    margin-left: 2.5%;
    width: 95%;
}