/* basket.css */
/*Style for basket page */
body {
    background-color: #0d0032;
    color: white;
}

.basket-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--blue-2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    /* Use grid layout */
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    gap: 20px;
    /* Gap between columns */
    overflow: hidden;
}

#basket {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#basket th,
#basket td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#basket td:first-child {
    text-align: center;
}

.product-image {
    max-width: 8rem;
    max-height: 8rem;
}

#order-summary {
    margin-top: 20px;
}

#total {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: right;
    /* Align total to the right */
}

#continue-to-checkout {
    display: inline-block;
    width: 50%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: var(--blue-4);
    /* Change the button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    /* Remove underline from anchor tag */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

#continue-to-checkout:hover {
    background-color: #0d0032;
    /* Change the button color on hover */
}

/* Fancy drop-down menu */
#basket select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#basket select::after {
    content: '\25BC';
    /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 1440px;
    height: 1024px;
}

#basket select:focus {
    outline: none;
    border-color: var(--mirror-blue);
    box-shadow: 0 0 5px rgba(31, 0, 93, 0.5);
}

/* Style for Checkout Page */
.checkout-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0d0032;
    /* Change to dark blue */
    color: white;
    /* Change text color to white */
}

.checkout-content {
    text-align: center;
    color: white;
    /* Change text color to white */
}

.checkout-content p {
    margin: 10px 0;
}

.checkout-content form {
    margin: 0 auto;
}

.checkout-content form button {
    width: 100%;
    /* Set the button width to 100% */
    max-width: 200px;
    /* Set a max-width to avoid excessive stretching */
    margin: 10px auto;
    /* Center the button with margin */
}

/* Common styles for footer */
.footer {
    background-color: var(--mirror-blue);
    color: white;
    text-align: center;
    padding: 10px;
}

/* Dummy Card details */
.card-details-container {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    grid-column: 2 / 3;
    /* Place in the right column */
}