#welcome {
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../_images/home.png");
    background-size: cover;
}

#welcome img {
    max-height: 35vh;
}

#welcome h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 8px;
    color: var(--white);
}

#welcome .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;

    text-align: center;
}