#welcome {
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../_images/home.png");
    background-size: cover;
}

#welcome img {
    max-height: 35vh;
}

#welcome h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 8px;
    color: var(--white);
}

#welcome .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;

    text-align: center;
}

.home-content {
    padding: 2rem 0;
    text-align: center;
    color: var(--white);
}
.home-content:nth-of-type(even) { background-color: var(--blue-1); }
.home-content:nth-of-type(odd) { background-color: var(--blue-2); }

.home-content h1 {
    font-family: 'Dela Gothic One', cursive;
    margin-bottom: 2rem;
}

#notice p {
    font-size: 1.5rem;
    font-weight: 400;

}

#notice i.fa-leaf {
    color: var(--green);
    font-size: 2rem;
    margin-right: 0.5rem;
}

.home-content .row {
    justify-content: center;
    align-items: center;
}

.product {
    /* decided against the background colour, keeping it in case I change my mind */
    /* background-color: var(--blue-3); */
    padding: 2rem;
    flex: 1;
    margin: 0 1rem;
    border-radius: 24px;
}

.product img {
    width: 75%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 24px;
}