h2{
    text-align: center;
    text-decoration: underline;
    color: white
    
}

.Register, .login-1 {
   /* background-color: #060606;
    border:1px solid #ccc;
    */
    padding: 20px;
    border-radius: 8px;
    margin:auto;
}

.Register{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        "left right"
        "bottom bottom";
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.Register .left {
    grid-area: left;
    
}

.Register .right {
    grid-area: right;
    
}

.Register .bottom {
    grid-area: bottom;
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 4px;
}

input {
    padding: 4px;
    margin-bottom: 10px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


input[type="text"] {
    margin: auto;
}

input[type="submit"] {
    margin: auto;
}
