@import url("../_fonts/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Zen Kaku Gothic New', sans-serif;
}

:root {
    --black: #0A0916;
    --blue-1: #0F1027;
    --blue-2: #1C1A3A;
    --blue-3: #242E52;
    --blue-4: #4C649F;
    --blue-5: #5975B8;
    --disabled: #6E6E6E;
    --off-white: #CED0D6;
    --white: #F4EEF6;
    --green: #2DF695;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

body {
    background: var(--blue-1);
    color: var(--white);
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.col {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

nav {
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;

    background: var(--black);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav .left, nav .right {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    color: var(--white);
    text-decoration: none;
}

nav .left a img {
    height: 4rem;
    padding: .5rem 1rem;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    color: var(--disabled);
}

nav .right {
    padding: 1rem 2rem;
}

nav .right a {
    font-size: 1.2rem;
}

nav .right a i {
    margin-right: .5rem;
}

nav a:not(a:first-child) {
    margin-left: 1rem;
}

footer {
    width: 100%;
    padding: 2rem 10vw;

    background: var(--black);

    display: flex;
    flex-flow: row wrap;

    text-align: right;
    z-index: 100;
}

footer.short {
    padding: 1rem 10vw;
    text-align: center;
}

footer:not(.short) .col:first-child {
    text-align: left;
    justify-content: center;
}

footer a, footer h1, footer p {
    color: var(--white);
}

footer h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 4rem;
}

main {
    min-height: 80vh;
}

header {
    height: 30vh;
    width: 100%;
    background: var(--blue-1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

header h1 {
    font-size: 4rem;
}

section {
    padding: 2rem 10vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

section h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

    background-color: #ddd;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
}

.fa-leaf {
    color: var(--green);
    margin: 0 .25rem;
}

button, .button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    background: var(--blue-4);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    width: 25%;
    margin: auto;
    text-decoration: none;
}

button:hover, .button:hover {
    background: var(--blue-5);
    cursor: pointer;
}

button:disabled, .button:disabled {
    background: var(--blue-3);
    cursor: not-allowed;
}

input, textarea, select {
    background: var(--white);
    border: none;
    border-radius: 8px;
    padding: .25rem .5rem;
    font-size: 1.2rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type=submit], input[type=reset], label:hover, select:hover {
    cursor: pointer;
}

input:disabled, textarea:disabled, select:disabled {
    background: var(--disabled);
    cursor: not-allowed;
}

input:not([type=submit], [type=reset]):read-only {
    cursor: not-allowed;
}

/* The next section is simply radios and checkboxes styling. */
/* For your own sanity, I'd recommend against touching it */
[type="radio"], [type="checkbox"] {
    display: none;
}

[type="radio"] + label::before, [type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    width: 20px;
    height: 20px;
    outline: 2px solid var(--off-white);
    background: var(--blue-1);
    transition: all .5s cubic-bezier(0.33, 1, 0.68, 1);
    border-radius: 4px;
}

[type="radio"] + label:hover::before, [type="checkbox"] + label:hover::before  {
    outline: 2px solid var(--white);
    background: var(--blue-2);
}

[type="radio"] + label::before {
    border-radius: 50%;
}

[type="radio"] + label, [type="checkbox"] + label {
    position: relative;
    padding-left: 32px;
    display: inline-block;
    line-height: 2.1rem;
    color: var(--white);
    cursor: pointer;
}

[type="radio"] + label::after, [type="checkbox"] + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 12px;
    width: 12px;
    height: 12px;
    background: var(--off-white);
    transition: all .25s cubic-bezier(0.33, 1, 0.68, 1);
    opacity: 0;
    transform: scale(0.5);
    border-radius: 2px;
}

[type="radio"] + label::after {
    border-radius: 50%;
}

[type="radio"]:checked + label::after, [type="checkbox"]:checked + label::after {
    opacity: 1;
    transform: scale(1);
}