* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

:root {
    --mirror-blue: #1f005d;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.col {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

nav {
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;

    background: var(--mirror-blue);
    display: flex;
    justify-content: space-between;
}

nav .left, nav .right {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    color: white;
    text-decoration: none;
}

nav .left a img {
    height: 4rem;
    padding: .5rem 1rem;
}

nav .right {
    padding: 1rem 2rem;
}

nav .right a {
    font-size: 1.2rem;
}

nav a:not(a:first-child) {
    margin-left: 1rem;
}

footer {
    width: 100%;
    padding: 2rem 10vw;

    background: var(--mirror-blue);

    display: flex;
    flex-flow: row wrap;

    text-align: right;

    position: fixed;
    bottom: 0;
}

footer .col:first-child {
    text-align: left;
    justify-content: center;
}

footer a, footer h1 {
    color: white;
}

header {
    height: 30vh;
    width: 100%;
    background: grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

header h1 {
    font-size: 4rem;
}

section {
    padding: 2rem 10vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

section h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

    background-color: #ddd;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
}

button, .button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    background: var(--mirror-blue);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    width: 25%;
    margin: auto;
}