.product-container {
    display: grid;
    grid-template-columns: 2fr 3fr; /* Adjust column sizes as needed */
    padding: 2rem;
}

.product-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover; 
    border-radius: 8px; 
}

.product-details {
    padding: 0 2rem;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.product-details h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 3em;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
}

.product-details h2 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 2em;
}

.product-details p {
    margin-bottom: 2em;
}

.product-sizes {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: .25rem;
}

.product-sizes button {
    width: min-content;
    padding: .5rem 1rem;
    margin: 0 .125rem;
}

.bottomHalf {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.product-price {
    font-size: 2em;
    font-weight: bold;
}

button.add-to-cart {
    font-size: 1.2em;
    padding: .5rem 1rem;
    margin: 0;
}
