main {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1rem;
}

aside {
    place-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: start;

    background-color: var(--blue-2);
    z-index: 0;
}

aside .asideContent {
    position: sticky;
    top: calc(69px + 1rem); /* 69px is the height of the header */
    margin: 1rem;
}

.filterGroup {
    display: flex;
    flex-flow: column nowrap;
}

.filterGroup .title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.filterGroup .title h2 {
    font-family: 'Dela Gothic One', cursive;
    margin: 1rem .5rem .5rem;
}

.filterGroup a {
    color: var(--disabled);
    font-weight: 300;
    margin: 1rem .2rem .5rem;
}

.filterGroup a.selected {
    color: var(--white);
    font-weight: 600;
}

.inputLabelGroup {
    padding: .125rem 1rem
}

#products { padding: 1rem 5vw; justify-content: start; } /* overwriting main.css */
#products #productsDescriptor {
    font-family: 'Dela Gothic One', cursive;
    font-size: 3rem;
}

#productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 1rem;
}

.product {
    place-self: stretch;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    padding: 1rem;
    margin: .5rem;
    transition: margin .25s ease-in-out;

    background: var(--blue-3);
    border-radius: 8px;
}

.product:hover {
    cursor: pointer;
    margin: .1rem;
    background: linear-gradient(rgba(255, 255, 255, 10%), rgba(255, 255, 255, 10%)), var(--blue-3);
}

.product img {
    grid-area: image;
    margin: auto;

    width: 100%;
    height: 100%;
    max-width: 50vw;
    aspect-ratio: 1/1;
    border-radius: 8px;

    object-fit: cover;
}

.product h1 {
    font-size: 1.5rem;
    grid-area: name;
    text-align: left;
    margin: .5rem auto 0 0;
}

.product h2 {
    font-size: 1rem;
    grid-area: price;
    margin: auto 0 0 auto;
}

@media screen and (max-width: 1100px) {
    #productsGrid {
        grid-template-columns: 1fr;
        margin: 2rem 1vw;
    }

    #productsGrid .left, #productGrid .right {
        margin: .5rem;
    }
}