section h1 {
    font-family: "Dela Gothic One", cursive;
    font-size: 3em;
}
.subtitle {
    font-size: 1.5em;
}

section h1, .subtitle {
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: .25rem .5rem;
}

form input[type="submit"] {
    width: 25%;
    margin: 0 .5rem 0 auto;
}