/* reviews.css */
.container {
    text-align: center;
    margin-top: 20px;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.sort-options {
    margin-top: 10px;
}

.reviews-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-top: 20px;
}

.review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    margin: 1rem auto;
    width: 60%
}

.review img {
    max-width: 100%;
    height: 150px; /* Fixed height for reviews */
    border-radius: 50%;
}

#review-form {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#review-form h2 {
    color: #333;
    margin-bottom: 20px;
}

#user-review-form {
    max-width: 400px;
    margin: 0 auto;
}

#user-review-form label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

#user-review-form input,
#user-review-form textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

#user-review-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#user-review-form button:hover {
    background-color: #555;
}
