/* zen-kaku-gothic-new-300 - cyrillic_japanese_latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 300;
    src: url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* zen-kaku-gothic-new-regular - cyrillic_japanese_latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 400;
    src: url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* zen-kaku-gothic-new-500 - cyrillic_japanese_latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    src: url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* zen-kaku-gothic-new-700 - cyrillic_japanese_latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 700;
    src: url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* zen-kaku-gothic-new-900 - cyrillic_japanese_latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 900;
    src: url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./zen-kaku/zen-kaku-gothic-new-v15-cyrillic_japanese_latin_latin-ext-900.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* dela-gothic-one-regular - cyrillic_greek_japanese_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; 
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    src: url('./dela/dela-gothic-one-v15-cyrillic_greek_japanese_latin_latin-ext_vietnamese-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./dela/dela-gothic-one-v15-cyrillic_greek_japanese_latin_latin-ext_vietnamese-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
